<div class="container">
    <div class="header">
        <h1>Popular categories</h1>
    </div>
    <div class="row row-cols-3">
        <div class="col" *ngFor="let category of categories" class="col">
        <div class="card">
            <a href="#">
                <img src="{{category.image}}" class="card-img-top" alt="image">
                <div class="card-body">
                    <p class="card-text">{{category.description}}</p>
                </div>
            </a>
          </div> 
        </div>         
    </div>
</div>