main {
  margin-left: 50px;
  margin-right: 50px;
}

.title {
  font-size: 50px;
  margin-left: 80px;
  color: var(--red-color);
}

.card-container {
  position: relative;
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  gap: 2rem;
}

.card {
  position: relative;
  box-sizing: border-box;
  border: none;
  height: 350px;
}

img {
  width: 300px;
  height: 250px;
}

.category-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  margin: 5px;
  height: 100px;
}

img:hover {
  filter: brightness(120%);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}
