.container{
    background-color: antiquewhite;
    justify-content: space-around;
    border-radius: 20px;
    margin: 80px auto auto auto;
}

.header{
    margin: 0 0 1em 37%;
    padding-top: 1em;
    font-size: 35px;
    font-weight: bold;
    color: #215c44;
}

.row{
    padding-left: 5em;
}

.card {
    width: 20rem;
    margin-bottom: 1em;
    border-radius: 20px;
}

img{
    height: 12em;
    width: auto;
    padding-left: 3.5em;
}

a {
    text-decoration: none;
    color: black;
}