<main>
  <img ngSrc="../../assets/images/signup.png" height="500" width="500">
  <div class="right-corner">
    <span class="phrase">Welcome to <a routerLink="/welcome">EasyEats!</a></span>
    <form #form="ngForm" (ngSubmit)="onSubmit()" class="signup-form" enctype="multipart/form-data">
      <label>
        First name:
        <input placeholder="First name" required [(ngModel)]="request.firstName" name="first_name">
      </label>
      <label>
        Last name:
        <input placeholder="Last name" required [(ngModel)]="request.lastName" name="last_name" aria-required="true">
      </label>
      <label>
        Username:
        <input placeholder="Username" required [(ngModel)]="request.username" name="username" aria-required="true">
      </label>
      <label>
        E-mail:
        <input type="email" placeholder="E-mail" required [(ngModel)]="request.email" name="email" aria-required="true">
      </label>
      <label>
        Password:
        <input type="password" placeholder="Password" required [(ngModel)]="request.password" name="password" aria-required="true">
      </label>
      <!-- <label>
        Repeat Password:
        <input type="password" placeholder="Repeat password" required [(ngModel)]="user.repeatPass" name="repeatPass" aria-required="true">
      </label> -->


      <!-- <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div> -->

      <button type="submit">Sign Up</button>
    </form>
    <span>Already have an account? <a routerLink="/login">Log in</a></span>
  </div>
</main>



