<main>
  <img ngSrc="../../assets/images/signup.png" height="500" width="500">
  <div class="right-corner">
    <span class="phrase">Welcome to <a routerLink="/welcome">EasyEats!</a></span>
    <form class="signup-form">
      <label for="first_name">
        First name:
        <input id="first_name" placeholder="First Name" required [(ngModel)]="user.first_name" name="first_name">
      </label>
      <label>
        Last name:
        <input placeholder="Last Name" required [(ngModel)]="user.last_name" name="last_name" aria-required="true">
      </label>
      <label>
        Username:
        <input placeholder="Username" required [(ngModel)]="user.username" name="username" aria-required="true">
      </label>
      <label>
        E-mail:
        <input type="email" placeholder="E-mail" required [(ngModel)]="user.email" name="email" aria-required="true">
      </label>
      <label>
        Password:
        <input type="password" placeholder="Password" required [(ngModel)]="user.password" name="password" aria-required="true">
      </label>
      <label>
        Repeat Password:
        <input type="password" placeholder="Repeat Password" required [(ngModel)]="user.repeatPass" name="repeatPass" aria-required="true">
      </label>
      <label>
        Profile picture:
        <input placeholder="Image" required [(ngModel)]="user.image" name="image" aria-required="true">
      </label>

<!--      <div class="error-message">{{ errorMessage }}</div>-->
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <button (click)="onSignUp()">Sign Up</button>
    </form>
    <span>Already have an account? <a routerLink="/login">Log in</a></span>
  </div>
</main>



