<main>
  <img ngSrc="../../assets/images/signup.png" height="500" width="500">
  <div class="right-corner">
    <span class="phrase">Welcome to EasyEats!</span>
    <form class="signup-form">
      <label for="first_name">
        First name:
        <input id="first_name" placeholder="First Name" required [(ngModel)]="user.first_name" name="first_name">
      </label>
      <label>
        Last name:
        <input placeholder="Last Name" required [(ngModel)]="user.last_name" name="last_name">
      </label>
      <label>
        Username:
        <input placeholder="Username" required [(ngModel)]="user.username" name="username">
      </label>
      <label>
        E-mail:
        <input type="email" placeholder="E-mail" required [(ngModel)]="user.email" name="email">
      </label>
      <label>
        Password:
        <input type="password" placeholder="Password" required [(ngModel)]="user.password" name="password">
      </label>
      <label>
        Profile picture:
        <input placeholder="Image" required [(ngModel)]="user.image" name="image">
      </label>

      <div class="error-message">{{ errorMessage }}</div>

      <button (click)="onSignUp()">Sign Up</button>
    </form>
  </div>
</main>




