* {
  --background-color: #191825;
}

.header {
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
}

.right-corner {
  display: flex;
  align-items: center;
  gap: 2em;
  margin-right: 2em;
}

button {
  height: 3em;
  width: 5em;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  transition: transform 300ms ease-in-out;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
  font-weight: bold;
}



