<main>
  <img ngSrc="../../assets/images/login.png" height="500" width="500">
  <div class="right-corner">
    <span class="phrase">Welcome back!</span>
    <form #form="ngForm" (ngSubmit)="onSubmit()" class="signup-form">
      <label for="email">E-mail:</label>
      <input type="text" id="email" [(ngModel)]="request.email" name="email" required>
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="request.password" name="password" required>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <button type="submit">Login</button>
    </form>
    <div class="signup-text">Don't have an account? <a [routerLink]="['/signup']">Sign up</a></div>
  </div>
</main>
