.header {
  display: grid;
  grid-template-columns: auto 2fr auto;
}

.left-corner {
  margin-left: 15px;
}

a {
  text-decoration: none;
}

.links>a:hover,a:hover{
  color: var(--red-color);
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links>a {
  font-size: 23px;
  color: var(--green-color);
  font-family: 'Righteous', cursive;
}

.right-corner {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-right: 20px;
}

.username {
  color: var(--green-color);
  font-weight: bold;
}

button{
  font-size: 15px;
  border: 2px solid var(--white);
  border-radius: 5px;
  background-color: var(--red-color);
  color: var(--white);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  transition: transform 300ms ease-in-out;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

button>a{
  color: var(--white);
}

.log-in-btn {
  width: 100px;
  height: 50px;
  font-size: 20px;
}

i {
  color: var(--green-color);
}
