.header {
  display: grid;
  grid-template-columns: auto 2fr auto;
  position: sticky;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.left-corner {
  margin-left: 15px;
}

a {
  text-decoration: none;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.links > a {
  font-size: 18px;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s;
}

.links > a:hover {
  color: var(--red-color);
}

.right-corner {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-right: 10px;
}

.username {
  color: var(--red-color);
  font-weight: bold;
}

.log-in-btn {
  border: none;
  border-radius: 5px;
  background-color: rgba(51, 51, 51, 0.1);
  color: #333333;
  padding: 5px 10px;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.3s;
}

.log-in-btn:hover {
  cursor: pointer;
  background-color: #B70404;
  color: #ffffff;
  transform: scale(1.05);
}

.log-in-btn > a {
  color: #333333;
  text-decoration: none;
}

i {
  color: #B70404;
}
