<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<main>
  <div class="header">
    <div class="left-corner">
      <a routerLink="/welcome">
        <img ngSrc="../../assets/images/logo2.png" height="100" width="200">
      </a>
    </div>
    <div class="links">
      <a routerLink="/welcome">Homepage</a>
      <a routerLink="/home">Categories</a>
      <a routerLink="/recipes">Recipes</a>
    </div>

    <div class="right-corner" *ngIf="isLoggedIn">
      <a [routerLink]="['/user-profile', user?.username]">{{ user?.username }}</a>
      <button (click)="logout()">Logout</button>
    </div>

    <div class="right-corner" *ngIf="!isLoggedIn">
      <a routerLink="/login">Login</a>
    </div>
  </div>
</main>
