main {
  min-width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 0;
  text-align: center;
}

main::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("/assets/images/background-user_profile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  filter: blur(4px) brightness(0.9);
}


.user {
  margin-top: 1rem;
  padding-left: 2rem;
  width: 50%;
}

.user-name-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}


.custom-file-input {
  margin-bottom: 1rem;
  margin-left: 8rem;
  color: #2980b9;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid black;
}

.profile-info {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  gap: 1rem;
}

.full-name {
  font-size: 2rem;
  font-weight: 500;
}

.user-mail {
  font-size: 1.4rem;
}

.break-line {
  height: 2px;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.buttons-container {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}

.buttons {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  display: block;
  width: fit-content;
  transition: transform 300ms ease-in-out;
  border: none;
  border-radius: 10px;
}

.buttons:hover {
  transform: scale(1.1);
  cursor: pointer;
}

*::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #ddd;
  border: 4px solid #fff;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
  max-height: 70vh;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.25);
}

.modal-container-header {
  padding: 16px 32px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.modal-container-title {
  font-weight: 700;
  font-size: 30px;
}

.username {
  color: var(--green-color);
}

.modal-container-body {
  padding: 24px 32px 24px;
  overflow-y: auto;
}

.recipe-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-items: center;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #ddd;
}

.recipe-img {
  border-radius: 8px;
  box-shadow: 5px 5px 5px #ccc;
}

.edit-btn > button {
  padding-right: 10px;
  border: none;
  background-color: transparent;
}

.modal-container-footer {
  padding: 20px 32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #ddd;
  position: relative;
}

.fa-pen-to-square {
  color: var(--green-color);
}

.fa-trash {
  color: var(--red-color);
}

.modal-btns {
  width: 130px;
  height: 30px;
  border-radius: 8px;
  border: 0;
  font-weight: 600;
  cursor: pointer;
  transition: transform 300ms ease-in-out;
  background-color: var(--red-color);
  color: #fff;
}

.right-col {
  display: flex;
  flex-direction: column;
}

.modal-btns:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.edit-item {
  width: fit-content;
  margin-bottom: 1rem;
}

.edit-item input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.63);
  text-align: center;
  font-size: 1rem;
  background-color: transparent;
  color: black;
  width: 100%;
}

.edit-item input:focus-visible {
  outline: 2px solid #af303094;
  border-radius: 3px;
  border-bottom: none;
}

.inputs-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.edit-profile-btns-container {
  display: flex;
  justify-content: space-around;
}

.modal-no-recipes-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal-text {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: white;
}

.modal-no-recipes-btn {
  background-color: var(--green-color);
  color: white;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  transition: transform 300ms ease-in-out;
}

.modal-no-recipes-btn:hover {
  background-color: var(--neon-green);
  transform: scale(1.1);
  cursor: pointer;
}

#email {
  cursor: default;
  color: red;
}
