<main>
  <app-main-header></app-main-header>

  <div *ngIf="user && !isEditMode && !isPostMode" class="user">
    <div class="user-name-img">
      <img class="profile-picture" src="{{user.image}}" alt=""/>
      <h2>{{ user.userName }}</h2>
    </div>

    <div *ngIf="!isEditMode && !isPostMode" class="profile-info">
      <div class="profile-info">
        <div class="full-name">
          {{ user.first_name }} {{ user.last_name }}
        </div>

        <div class="user-mail">
          {{ user.email }}
        </div>
      </div>
      <div class="break-line"></div>
      <div class="buttons-container">
        <button (click)="toggleEdit()" class="edit-profile-btn buttons">
          Edit your profile
        </button>

        <button (click)="onClickViewPosts()" class="view-posts-btn buttons">
          View your posts
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="isPostMode && editedUser">
    <div class="modal">
      <div class="modal-container">
        <header class="modal-container-header">
          <img ngSrc="{{editedUser.image}}" width="100" height="100">
          <h1 class="modal-container-title">
            Recipes posted by <span class="username">{{editedUser.userName}}</span>
          </h1>
        </header>
        <section class="modal-container-body">
          <div *ngFor="let recipe of recipes" class="recipe-container">
            <img ngSrc="{{recipe.image}}" width="50" height="50" class="recipe-img">
            <h4>{{recipe.title}}</h4>
            <div class="edit-btn">
              <button><a [routerLink]="['/editrecipe', recipe.id]"><i class="fa-regular fa-pen-to-square"></i></a>
              </button>
              <button (click)="onDeleteRecipe(recipe)"><i class="fa-solid fa-trash"></i></button>
            </div>
          </div>
        </section>
        <footer class="modal-container-footer">
          <button class="modal-btns" (click)="togglePost()">Close</button>
        </footer>
      </div>
    </div>
  </div>

  <div class="modal" *ngIf="isEditMode">
    <div class="modal-container">
      <div class="modal-container-header">
        <h2 class="modal-container-title">Edit your profile</h2>
      </div>
      <div class="inputs-container modal-container-body">
        <div class="left-col">
          <div class="edit-item">
            <input
              [(ngModel)]="editedUser.first_name"
              placeholder="First Name"/>
          </div>
          <div class="edit-item">
            <input
              [(ngModel)]="editedUser.last_name"
              placeholder="Last Name"/>
          </div>
          <div class="edit-item">
            <input
              [(ngModel)]="editedUser.userName"
              placeholder="Username"/>
          </div>
          <div class="edit-item">
            <input [(ngModel)]="editedUser.email" placeholder="Email"/>
          </div>
        </div>
        <div class="right-col">
          <div class="edit-item">
            <input
              type="password"
              [(ngModel)]="editedUser.password"
              placeholder="Password"/>
          </div>
          <div class="edit-item">
            <input
              type="password"
              [(ngModel)]="editedUser.repeatPass"
              placeholder="Repeat Password"/>
          </div>
          <div class="edit-item">
            <input [(ngModel)]="editedUser.image" placeholder="Image URL"/>
          </div>
          <div class="edit-item">
            <input [(ngModel)]="editedUser.role" placeholder="Role"/>
          </div>
        </div>
      </div>
      <div class="edit-profile-btns-container modal-container-footer">
        <button (click)="toggleEdit()" class="modal-btns">
          Cancel
        </button>
        <button (click)="saveChanges()" class="modal-btns">
          Save Changes
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="!user" class="user">
    <p>User data not found.</p>
  </div>
</main>
