<div class="background">
  <img src="../../assets/images/add-recipe.jpg">
</div>
<main class="add-recipe" *ngIf="recipe">
  <span>Add a recipe</span>
  <form enctype="multipart/form-data" class="form">
    <label>
      Title:
      <input placeholder="Title" required [(ngModel)]="title" name="title" [defaultValue]="recipe.title">
    </label>
    <label>
      Description:
      <textarea placeholder="Description" required [(ngModel)]="description" name="description" aria-required="true"></textarea>
    </label>
    <label>
      Choose category:
      <select [(ngModel)]="selectedCategoryId" name="selectedCategory">
        <option *ngFor="let category of categories" [value]=category.id>{{category.name}}</option>
      </select>
    </label>
    <label>
      Choose subcategory:
      <select [(ngModel)]="selectedSubCategoryId" name="selectedSubCategory">
        <option *ngFor="let subCategory of subCategories" [value]=subCategory.id>{{subCategory.name}}</option>
      </select>
    </label>
    <label class="ingredients">
      <p class="ingredient-title">Ingredients:</p>
      <label>
        Name:
        <input [(ngModel)]="ingredient.name" name="ingredientName" placeholder="Name of ingredient">
      </label>
      <label>
        Quantity:
        <input [(ngModel)]="ingredient.quantity" name="ingredientQuantity" placeholder="Quantity">
      </label>
      <label>
        Measurement unit:
        <input [(ngModel)]="ingredient.measurementUnit" name="ingredientMeasurementUnit" placeholder="kg/g/ml/l ...">
      </label>

      <div *ngIf="ingredients.length" class="added-ingredients">
        <p>Added ingredients:</p>
        <ul *ngFor="let addedIngredient of ingredients">
          <li>{{addedIngredient.quantity}}{{addedIngredient.measurementUnit}} {{addedIngredient.name}}</li>
        </ul>
      </div>

      <button (click)="onAddIngredient()" class="add-ingredient-btn">Add ingredient</button>
    </label>

    <div *ngIf="errorMessage.length">{{errorMessage}}</div>

    <button (click)="onEditRecipe()" class="add-recipe-btn">Save</button>
  </form>
</main>
