main {
  display: grid;
  grid-template-rows: 1fr 1fr auto;
  margin-left: 50px;
  margin-right: 50px;
}

.top {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 50px;
  color: var(--red-color);
  font-family: 'Pacifico', cursive;
  margin-left: 100px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

i {
  font-size: 20px;
  color: var(--red-color)
}

input {
  width: 80%;
  padding: 5px;
  border:2px solid var(--green-color);
  border-radius: 5px;
}

input:focus {
  color: var(--green-color);
  font-weight: bold;
  outline-color: var(--red-color);
}

.card-container {
  position: relative;
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 203px);
  gap: 2rem;
}

.card {
  position: relative;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.4);
  height: 280px;
  border: 1px solid #B70404;
}

img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 200px;
  height: 200px;
}

.category-details {
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: justify;
  margin: 5px;
  height: 100px;
}

.category-title {
  font-family: 'Righteous', cursive;
  color: var(--green-color);
}

img:hover {
  filter: brightness(50%);
  cursor: pointer;
}

a{
  text-decoration: none;
  color: black;
}

button {
  border: 2px solid #B70404;
  border-radius: 5px;
  width: 120px;
  height: 35px;
  background-color: #FFE5CA;
  color: #B70404;
  transition: 300ms ease-in-out;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}


