<app-main-header></app-main-header>

<main>
  <div class="top">
    <div class="title">Explore all recipes..</div>
    <a [routerLink]="['/addrecipe']"><button>Add a recipe</button></a>
  </div>
  <div class="search">
    <input type="text" [formControl]='queryText' (input)="search()" placeholder="Search recipes...">
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>
  <div class="card-container">
    <div *ngFor="let recipe of recipes" class="card">
      <a [routerLink]="['/recipe', recipe.id]">
        <img src="{{recipe.image}}"/></a>
      <div class="category-details">
        <span class="category-title">{{recipe.title}}</span>
      </div>
    </div>
  </div>
</main>

