<app-main-header></app-main-header>

<main>
  <div class="top">
    <div class="title">Explore all recipes</div>
    <div class="search" [ngClass]="{'show-input': showSearch}">
      <div class="search-icon" (click)="toggleSearch()">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <input type="text" [formControl]='queryText' (input)="search()" placeholder="Search recipes..">
    </div>
  </div>
  <div class="card-container">
    <div *ngFor="let recipe of recipes" class="card">
      <a [routerLink]="['/recipe', recipe.id]">
        <img src="{{recipe.image}}"/></a>
      <div class="category-details">
        <span class="category-title">{{recipe.title}}</span>
      </div>
    </div>
  </div>
</main>

