<app-main-header></app-main-header>

<main>
  <div *ngIf="recipe" class="recipe">
      <div class="recipe-info">
        <h1 class="recipe-title">{{recipe.title}}</h1>
        <img ngSrc="{{recipe.image}}" width="300" height="400">
      </div>
      <div class="recipe-details">
        <div class="ingredients">
          <span>Ingredients:</span>
          <ul *ngFor="let ingredient of recipe.ingredients">
            <li>{{ingredient.quantity}}{{ingredient.measurementUnit}} {{ingredient.name}}</li>
          </ul>
        </div>
        <div class="steps">
          <span>How to make it:</span>
          <div>{{recipe.description}}</div>
        </div>
      </div>
    </div>
</main>

