<app-main-header></app-main-header>

<main *ngIf="recipeReview">
  <div class="recipe">
    <h1 class="recipe-title">{{recipeReview.recipe.title}}</h1>
    <div class="recipe-details">
      <img ngSrc="{{recipeReview.recipe.image}}" width="300" height="400">
      <div class="recipe-info">
        <div class="ingredients">
          <span>Ingredients:</span>
          <ul *ngFor="let ingredient of recipeReview.recipe.ingredients">
            <li>{{ingredient.quantity}}{{ingredient.measurementUnit}} {{ingredient.name}}</li>
          </ul>
        </div>
        <div class="steps">
          <span>How to make it:</span>
          <div>{{recipeReview.recipe.description}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="reviews">
    <span>Reviews</span>
    <div *ngFor="let review of recipeReview.reviews" class="single-review">
      <div class="user">{{ review.user.first_name }}</div>
      <div class="review-details">
        <div><u>Rating:</u> {{ review.rating }}/5</div>
        <div>{{ review.comment }}</div>
      </div>
    </div>
  </div>
  <div class="add-review">
    <span>Add your review</span>
    <form enctype="multipart/form-data" class="form">
      <label>
        Your opinion:
        <input placeholder="Comment" required [(ngModel)]="comment" name="title">
      </label>
      <label>
        Rating:
        <input placeholder="/5" required [(ngModel)]="rating" name="description" aria-required="true">
      </label>
      <button (click)="onAddReview()">Add</button>
    </form>
  </div>
</main>

