.recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipe-details {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  width: 80%;
  gap: 5em;
}

.recipe-title {
  font-size: 60px;
  color: var(--red-color);
  text-shadow: 2px 2px #000000;
  font-family: 'Pacifico', cursive;
  margin: 30px;
}

img {
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
}

span {
  font-size: 25px;
  font-weight: bold;
  color: var(--green-color);
}

li {
  list-style-type: "\1F374";
}

.steps {
  text-align: justify;
}

.reviews {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-left: 150px;
}

.single-review {
  border-bottom: 2px solid lightgrey;
  margin-bottom: 20px;
  width: 90%;
  padding-bottom: 5px;
}

.user {
  font-weight: bold;
  font-size: 20px;
}

.review-details {
  padding-left: 25px;
}

.add-review {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-left: 150px;
}

.form {
  display: flex;
  width: 30%;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
  margin-bottom: 25px;
}

label {
  line-height: 25px;
  margin-bottom: 10px;
  font-size: 18px;
}

input {
  flex: 0 0 100px;
  padding: 3px;
  border:2px solid var(--green-color);
  border-radius: 5px;
}

input:focus {
  color: var(--green-color);
  font-weight: bold;
  outline-color: var(--red-color);
}

button{
  width: 75px;
  font-size: 18px;
  border: 2px solid var(--white);
  border-radius: 5px;
  background-color: var(--red-color);
  color: var(--white);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  transition: transform 300ms ease-in-out;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

