<app-main-header></app-main-header>

<main>
  <div class="subcategories">
    <div *ngFor="let subCategory of category?.sub_categories">
      <button (click)="onClickOfSubCategory(subCategory.id)">{{subCategory.name}}</button>
    </div>
  </div>
  <div class="card-container">
    <div *ngFor="let recipe of recipes" class="card">
      <a [routerLink]="['/recipe', recipe.id]">
        <img src="{{recipe.image}}"/></a>
      <div class="category-details">
        <span class="category-title">{{recipe.title}}</span>
      </div>
    </div>
  </div>
</main>

