main {
  display: grid;
  grid-template-rows: 1fr auto;
  margin: 10px;
}

.subcategories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-container {
  position: relative;
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 1rem;
}

.card {
  position: relative;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card:hover img {
  filter: brightness(50%);
  cursor: pointer;
}

.category-details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 80px;
}

.category-title {
  color: #333333;
  font-size: 1.2rem;
  text-align: center;
}

button {
  margin-bottom: 10px;
  border: none;
  border-radius: 8px;
  width: 150px;
  height: 40px;
  background-color: #f0f0f0;
  color: #333333;
  transition: background-color 0.3s, transform 0.3s, font-weight 0.3s;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
  font-weight: bold;
  background-color: #e0e0e0;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  text-decoration: underline;
}

