@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Righteous&display=swap');

* {
  font-family: 'Playfair Display', serif;
  margin: 0;
  --red-color: #c62a2a;
  --white: #FFF3E2;
  --green-color: #215c44;
}
