
<form class="signup-form">
  <label>
    <input placeholder="Username" required [(ngModel)]="user.username" name="username">
  </label>

  <label>
    <input type="email" placeholder="Email" required [(ngModel)]="user.email" name="email">
  </label>

  <label>
    <input type="password" placeholder="Password" required [(ngModel)]="user.password" name="password">
  </label>

  <label>
    <input placeholder="First Name" required [(ngModel)]="user.first_name" name="first_name">
  </label>

  <label>
    <input placeholder="Last Name" required [(ngModel)]="user.last_name" name="last_name">
  </label>

  <label>
    <input placeholder="Role" required [(ngModel)]="user.role" name="role">
  </label>

  <label>
    <input placeholder="Image" required [(ngModel)]="user.image" name="image">
  </label>

  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  <button mat-raised-button color="primary" (click)="onSignUp()">Sign Up</button>
</form>
